---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  spec:
  type: LoadBalancer
  loadBalancerIP: #161.156.166.33
  ports:
    - protocol: TCP
      name: web
      port: 80
    - protocol: TCP
      name: admin
      port: 8080
    - protocol: TCP
      name: websecure
      port: 443
  selector:
    app: traefik
